body {
  background: #800000;
}
p {
  font-size: 20px;
  color: white;
  text-align: center;
}
h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 150px;
}

input {
  width: 310px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 26px;
}
button {
  width: 340px;
  height: 45px;
  display: black;
  background: black;
  text-align: center;
  color: white;
  border: none;
}
button:active {
  opacity: 0.6;
}
a {
margin-top:100px;
display:block;
color:white;
text-align:center;



}